
.myq-tk-track-back-button {
  /* UIButton */
  title: "BACK";
  titleColor: white;
  backgroundColor: red;
}

.myq-tk-myscans-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-sub-home-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-sub-track-chooser-view {
  /* UIView */
  backgroundColor: yellow;
}

.myq-tk-track-sub-chooser-label {
  /* UILabel */
  textAlignment: center;
  text: "Track Avatar Chooser";
}

.myq-tk-track-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-new-view {
  /* UIView */
  backgroundColor: yellow;
}

.myq-tk-input-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-input-view-restricted-access {
    /* UIView */
    backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-input-view-restricted-access-title-view {
    /* UIView */
    backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-input-view-restricted-access-title {
    /* UILabel */
    font: systemBold 22;
    titleColor: @mfzCommonSDKTextColorPrimary;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textAlignment: center;
}

.myq-tk-input-view-restricted-access-sub-title {
    /* UILabel */
    font: systemBold 18;
    titleColor: @mfzCommonSDKTextColorPrimary;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textAlignment: center;
}

.myq-tk-card-view {
    /* UIView */
    backgroundColor: @myqtkBackgroundColor;
    cornerRadius: 8.0;
}

.myq-tk-card-title {
    /* UILabel */
    font: @myqtkCardViewTitleFont;
/*    textColor: @mfzCommonSDKColorFeature;*/
    textAlignment: center;
}

.myq-tk-card-body {
    /* UILabel */
    font: @myqtkCardViewBodyFont;
    textColor: @mfzCommonSDKTextColorPrimary;
    textAlignment: center;
    lineBreakMode: wordWrapping;
    numberOfLines: 0;
}

.myq-tk-card-none-view {
    /* UIView */
    backgroundColor: @mfzCommonSDKColorBackground;
    cornerRadius: 8.0;
}

.myq-tk-card-none-title {
    @extend .myq-tk-card-title;
    /* UILabel */
    textAlignment: left;
}

.myq-tk-card-none-body {
    @extend .myq-tk-card-body;
    /* UILabel */
    textAlignment: left;
}


.myq-tk-card-result-view {
    /* UIView */
    backgroundColor: @mfzCommonSDKColorBackground;
    cornerRadius: 8.0;
}

.myq-tk-card-result-title {
    @extend .myq-tk-card-title;
    /* UILabel */
    textAlignment: center;
}

.myq-tk-card-result-date {
    @extend .myq-tk-card-body;
    /* UILabel */
    textAlignment: center;
}

.myq-tk-card-result-table {
    /* UITableView */
    backgroundColor: clear;
    allowsSelection: false;
}

.myq-tk-card-result-table-cell {
    /* UITableViewCell */
    backgroundColor: clear;
}

.myq-tk-card-result-table-cell-label {
    @extend .myq-tk-card-body;
    /* UILabel */
    textAlignment: left;
}

.myq-tk-card-result-table-cell-value {
    @extend .myq-tk-card-body;
    /* UILabel */
    textAlignment: right;
    textColor: @myqtkColorFeature;
}

.myq-tk-card-result-image-view {
    /* UIImageView */
    clipsToBounds: YES;
    contentMode: scaleAspectFill;
    backgroundColor: clear;
}

.myq-tk-card-no-result-image-view {
    /* UIImageView */
    clipsToBounds: YES;
    contentMode: scaleAspectFit;
    backgroundColor: @mfzCommonSDKColorBackground;
}

.myq-tk-card-buttons-container {
    /* UIView */
    backgroundColor: clear;
}

.myq-tk-no-avatars-title {
    /* UILabel */
    font: @myqtkNoAvatarsTitleFont;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textColor: @mfzCommonSDKTextColorPrimary;
    textAlignment: center;
}

.myq-tk-no-avatars-detail {
    /* UILabel */
    font: @myqtkNoAvatarsDetailFont;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textColor: @mfzCommonSDKTextColorPrimary;
    textAlignment: center;
}

.myq-tk-no-avatar-button {
    @extend .mfz-common-sdk-standard-button;
    /* UIButton */
    backgroundColor: @myqtkColorFeature;
    titleColor(normal): @mfzCommonSDKButtonTitleColor;
    titleLabel.font: @mfzCommonSDKButtonFont;
}

.myqtk-tabbar-view {
    /* UITabBar */
    selectedImageTintColor: @myqtkColorFeature;
}

.mfztkMeshViewmfz-common-sdk-mesh-view {
    /* SCNView : UIView */
    backgroundColor: clear;
    borderColor: clear;
    borderWidth: 0.5;
}
