@myqtkColorFeature: @mfzCommonSDKColorFeature;
@myqtkBackgroundColor: @mfzCommonSDKColorBackground;
@myqtkDarkestBackgroundColor: @mfzCommonSDKColorBackground-dark;
@myqtkSeparatorColor: @mfzCommonSDKColorSeparator;
@myqtkNavigationBarBackgroundColor: @mfzCommonSDKColorBackground;
@myqtkNavigationBarSeparatorColor: @myqtkSeparatorColor;
@myqtkTabBarBackgroundColor: @mfzCommonSDKColorBackground;
@myqtkButtonDropShadowColor: @mfzCommonSDKColorOverlay;
@myqtkNavigationBarTitleColor: @mfzCommonSDKTextColorPrimary;
@myqtkNavigationBarButtonColor: @mfzCommonSDKColorFeature;

@myqtkNavigationBarLargeTitleFont: @mfzCommonSDKFontFamilyBold 34;
@myqtkNavigationBarTitleFont: @mfzCommonSDKFontFamilyBold @mfzCommonSDKFontSizeTitle3;
@myqtkNavigationBarButtonFont: @mfzCommonSDKFontFamilyBold @mfzCommonSDKFontSizeBody;
@myqtkCardViewTitleFont: @mfzCommonSDKFontFamilyBold 26;
@myqtkCardViewBodyFont: @mfzCommonSDKFontFamilyRegular 16;
@myqtkNoAvatarsTitleFont: @mfzCommonSDKFontFamilyBold 24;
@myqtkNoAvatarsDetailFont: @mfzCommonSDKFontFamilyRegular 14;

/*******************************************************/
/* CUSTOM STYLE VARIABLES                              */
/*******************************************************/
@myqtkShowTabBarNames: false;
/* Set the interface style (dark mode, light mode, both)
 0 = both
 1 = light only
 2 = dark only
 */
@myqtkSupportedUserInterfaceStyle: 0;
/*  If @myqtkUseDefaultNavigationBackChevron and @myqtkUseCustomeBackImage are both set to "NO" then text will be used.
    If @myqtkUseCustomeBackImage is YES it overrides the text and @myqtkUseDefaultNavigationBackChevron.
    Ensure you name your custom image "mfztk-back-button-image". For best size, ensure you provide an image of 21px high.
 */
@myqtkUseDefaultNavigationBackChevron: YES;
@myqtkUseCustomeBackImage: NO;
/*******************************************************/
/* SDK STYLE OVERRIDES                                 */
/*******************************************************/
@mfzCommonSpinnerBackgroundColor: clear;
@mfzCommonSpinnerActivityViewTintColor: @mfzCommonSDKColorActivityIndicator;
