
.myq-tk-track-back-button {
  /* UIButton */
  title: "BACK";
  titleColor: white;
  backgroundColor: red;
}

.myq-tk-myscans-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-sub-home-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-sub-track-chooser-view {
  /* UIView */
  backgroundColor: yellow;
}

.myq-tk-track-sub-chooser-label {
  /* UILabel */
  textAlignment: center;
  text: "Track Avatar Chooser";
}

.myq-tk-track-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-new-view {
  /* UIView */
  backgroundColor: yellow;
}

.myq-tk-input-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-input-view-restricted-access {
    /* UIView */
    backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-input-view-restricted-access-title-view {
    /* UIView */
    backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-input-view-restricted-access-title {
    /* UILabel */
    font: systemBold 22;
    titleColor: @myqtkBlackColor;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textAlignment: center;
}

.myq-tk-input-view-restricted-access-sub-title {
    /* UILabel */
    font: systemBold 18;
    titleColor: @myqtkBlackColor;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textAlignment: center;
}

.myq-tk-card-view {
    /* UIView */
    backgroundColor: @myqtkBackgroundColor;
    cornerRadius: 8.0;
}

.myq-tk-card-title {
    /* UILabel */
    font: @myqtkCardViewTitleFont;
    textColor: @myqtkHighlightColor;
    textAlignment: center;
}

.myq-tk-card-body {
    /* UILabel */
    font: @myqtkCardViewBodyFont;
    textColor: @myqtkBlackColor;
    textAlignment: center;
    lineBreakMode: wordWrapping;
    numberOfLines: 0;
}



.myq-tk-card-none-view {
    /* UIView */
    backgroundColor: @myqtkWhiteColor;
    cornerRadius: 8.0;
}

.myq-tk-card-none-title {
    @extend .myq-tk-card-title;
    /* UILabel */
    textAlignment: left;
}

.myq-tk-card-none-body {
    @extend .myq-tk-card-body;
    /* UILabel */
    textAlignment: left;
}


.myq-tk-card-result-view {
    /* UIView */
    backgroundColor: @myqtkWhiteColor;
    cornerRadius: 8.0;
}

.myq-tk-card-result-title {
    @extend .myq-tk-card-title;
    /* UILabel */
    textAlignment: center;
}

.myq-tk-card-result-date {
    @extend .myq-tk-card-body;
    /* UILabel */
    textAlignment: center;
}

.myq-tk-card-result-table {
    /* UITableView */
    backgroundColor: clear;
    allowsSelection: false;
}

.myq-tk-card-result-table-cell {
    /* UITableViewCell */
    backgroundColor: clear;
}

.myq-tk-card-result-table-cell-label {
    @extend .myq-tk-card-body;
    /* UILabel */
    textAlignment: left;
}

.myq-tk-card-result-table-cell-value {
    @extend .myq-tk-card-body;
    /* UILabel */
    textAlignment: right;
    textColor: @myqtkHighlightColor;
}



.myq-tk-card-buttons-container {
    /* UIView */
    backgroundColor: clear;
}

.myq-tk-no-avatars-title {
    /* UILabel */
    font: @myqtkNoAvatarsTitleFont;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textColor: @myqtkBlackColor;
    textAlignment: center;
}

.myq-tk-no-avatars-detail {
    /* UILabel */
    font: @myqtkNoAvatarsDetailFont;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textColor: @myqtkBlackColor;
    textAlignment: center;
}

.myq-tk-no-avatar-button {
    @extend .mfz-common-standard-button;
    /* UIButton */
    cornerRadius: 25.0;
    backgroundColor: @myqtkHighlightColor;
    titleLabel.font: @myqtkNoAvatarsButtonFont;
    titleColor(normal): @myqtkBlackColor;
}

.myqtk-tabbar-view {
    /* UITabBar */
    selectedImageTintColor: @myqtkTabBarTintColor;
    backgroundColor: white;
}
