
/* See InterfaCSS: https://github.com/tolo/interfacss  */

/*******************************************************/
/* TURNKEY STYLES                                      */
/*******************************************************/

/* Turnkey Common */
@myqtkHighlightColor: #FF5621;
@myqtkBlackColor: #1F232D;
@myqtkWhiteColor: #FEFEFE;
@myqtkBackgroundColor: #EFEFEF;
@myqtkDarkestBackgroundColor: #a3a3aA;
@myqtkSeparatorColor: #4D4D4D;
/* Navigation Bar Styling */
@myqtkNavigationBarLargeTitleFont: systemBold 28;
@myqtkNavigationBarTitleFont: systemBold 18;
@myqtkNavigationBarButtonFont: systemBold 17;
@myqtkNavBarColor: @myqtkWhiteColor;
@myqtkNavBarImageSizeForLargeState: 40.0;
@myqtkNavBarImageSizeForLargeState-iPhone-SE: 30.0;
@myqtkNavBarImageSizeForLargeState-iPhone-5s: 30.0;
@myqtkNavBarImageRightMargin: 16.0;
@myqtkNavBarImageRightMargin-iPhone-SE: 12.0;
@myqtkNavBarImageRightMargin-iPhone-5s: 12.0;
@myqtkNavBarImageBottomMarginForLargeState: 12.0;
@myqtkNavBarImageBottomMarginForLargeState-iPhone-SE: 10.0;
@myqtkNavBarImageBottomMarginForLargeState-iPhone-5s: 10.0;
@myqtkNavBarImageBottomMarginForSmallState: 6.0;
@myqtkNavBarImageSizeForSmallState: 32.0;
@myqtkNavBarHeightSmallState: 44.0;
@myqtknavBarHeightLargeState: 96.5;
@myqtkNoAccessViewTitleViewTop: 120;
@myqtkNoAccessViewTitleViewLeft: 30;
@myqtkNoAccessViewTitleViewRight: 30;
@myqtkNoAccessViewTitleHeight: 100;
@myqtkNoAccessViewSubTitleHeight: 90;
@myqtkNoAccessViewSubTitleTop: 10;

/* Turnkey View specific styling */
@myqtkTrackBackButtonHeight: 80;

.myq-tk-track-back-button {
  /* UIButton */
  title: "BACK";
  titleColor: white;
  backgroundColor: red;
}

.myq-tk-myscans-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-sub-home-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-sub-track-chooser-view {
  /* UIView */
  backgroundColor: yellow;
}

.myq-tk-track-sub-chooser-label {
  /* UILabel */
  textAlignment: center;
  text: "Track Avatar Chooser";
}

.myq-tk-track-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-new-view {
  /* UIView */
  backgroundColor: yellow;
}

.myq-tk-input-view {
  /* UIView */
  backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-input-view-restricted-access {
    /* UIView */
    backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-input-view-restricted-access-title-view {
    /* UIView */
    backgroundColor: @myqtkBackgroundColor;
}

.myq-tk-input-view-restricted-access-title {
    /* UILabel */
    font: systemBold 22;
    titleColor: @myqtkBlackColor;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textAlignment: center;
}

.myq-tk-input-view-restricted-access-sub-title {
    /* UILabel */
    font: systemBold 18;
    titleColor: @myqtkBlackColor;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textAlignment: center;
}

/*****************************************/
/* Card View                             */
/*****************************************/

@myqtkCardPadding: 20.0;
@myqtkCardContainerBottomInset: 70.0;
@myqtkCardViewTitleFont: systemBold 26;
@myqtkCardViewBodyFont: system 16;

.myq-tk-card-view {
    /* UIView */
    backgroundColor: @myqtkBackgroundColor;
    cornerRadius: 8.0;
}

.myq-tk-card-title {
    /* UILabel */
    font: @myqtkCardViewTitleFont;
    textColor: @myqtkHighlightColor;
    textAlignment: center;
}

.myq-tk-card-body {
    /* UILabel */
    font: @myqtkCardViewBodyFont;
    textColor: @myqtkBlackColor;
    textAlignment: center;
    lineBreakMode: wordWrapping;
    numberOfLines: 0;
}

/* None Container */
@myqtkCardNoneTitleWidth: 204.0;
@myqtkCardNoneTitleHeight: 22.0;
@myqtkCardNoneTitleTopPadding: 40.0;
@myqtkCardNoneTitleLeftPadding: @myqtkCardPadding;
@myqtkCardNoneBodyWidth: 170.0;
@myqtkCardNoneBodyHeight: 60.0;
@myqtkCardNoneBodyTopPadding: @myqtkCardPadding;
@myqtkCardNoneNewButtonTopPadding: 24.0;
@myqtkCardNoneNewButtonHeight: 40.0;
@myqtkCardNoneAvatarWidth: 120.0;
@myqtkCardNoneAvatarRightPadding: @myqtkCardPadding;

.myq-tk-card-none-view {
    /* UIView */
    backgroundColor: @myqtkWhiteColor;
    cornerRadius: 8.0;
}

.myq-tk-card-none-title {
    @extends .myq-tk-card-title;
    /* UILabel */
    textAlignment: left;
}

.myq-tk-card-none-body {
    @extends .myq-tk-card-body;
    /* UILabel */
    textAlignment: left;
}

/* Result Container */
@myqtkCardResultTitleHeight: 22.0;
@myqtkCardResultTitleTopPadding: @myqtkCardPadding;
@myqtkCardResultTitleLeftPadding: @myqtkCardPadding;
@myqtkCardResultTitleRightPadding: @myqtkCardPadding;
@myqtkCardResultDateHeight: 16.0;
@myqtkCardResultDateTopPadding: 4.0;
@myqtkCardResultDateLeftPadding: @myqtkCardPadding;
@myqtkCardResultDateRightPadding: @myqtkCardPadding;
@myqtkCardResultAvatarWidth: 110.0;
@myqtkCardResultAvatarTopPadding: 0.0;
@myqtkCardResultAvatarRightPadding: @myqtkCardPadding;
@myqtkCardResultAvatarBottomPadding: 6.0;
@myqtkCardResultTableCellHeight: 24.0;
@myqtkCardResultTableWidth: 200.0;
@myqtkCardResultTableTopPadding: @myqtkCardPadding;
@myqtkCardResultTableLeftPadding: 24.0;

.myq-tk-card-result-view {
    /* UIView */
    backgroundColor: @myqtkWhiteColor;
    cornerRadius: 8.0;
}

.myq-tk-card-result-title {
    @extends .myq-tk-card-title;
    /* UILabel */
    textAlignment: center;
}

.myq-tk-card-result-date {
    @extends .myq-tk-card-body;
    /* UILabel */
    textAlignment: center;
}

.myq-tk-card-result-table {
    /* UITableView */
    backgroundColor: clear;
    allowsSelection: false;
}

.myq-tk-card-result-table-cell {
    /* UITableViewCell */
    backgroundColor: clear;
}

.myq-tk-card-result-table-cell-label {
    @extends .myq-tk-card-body;
    /* UILabel */
    textAlignment: left;
}

.myq-tk-card-result-table-cell-value {
    @extends .myq-tk-card-body;
    /* UILabel */
    textAlignment: right;
    textColor: @myqtkHighlightColor;
}

/* Buttons Bar */
@myqtkCardButtonsBarHeight: 50.0;
@myqtkCardButtonsBarLeftPadding: @myqtkCardPadding;
@myqtkCardButtonsBarRightPadding: @myqtkCardPadding;
@myqtkCardButtonsBarBottomPadding: 6.0;
@myqtkCardButtonWidth: 104.0;
@myqtkCardButtonMyScansHeight: 40.0;
@myqtkCardButtonTrackHeight: 40.0;
@myqtkCardButtonNewHeight: 40.0;

.myq-tk-card-buttons-container {
    /* UIView */
    backgroundColor: clear;
}


/* Card View End */


/*****************************************/
/* No Avatars Views                      */
/*****************************************/

@myqtkNoAvatarsTextFont: system 22;
@myqtkNoAvatarsButtonFont: system 25;
@myqtkButtonDropShadowHeight: 7.5;
@myqtkButtonDropShadowWidth: 0.0;
@myqtkButtonDropShadowColor: black;
@myqtkButtonDropShadowRadius: 7.5;
@myqtkButtonDropShadowOpacity: 1.0;
@myqtkOneAvatarTitleInset: 50.0;
@myqtkOneAvatarTitleHeight: 2.0;
@myqtkOneAvatarTitleHeight-iPhone-5s: 2.0;
@myqtkOneAvatarTitleHeight-iPhone-SE: 2.0;
@myqtkOneAvatarDescriptionTopOffset: 12.0;
@myqtkOneAvatarDescriptionHeight: 2.0;
@myqtkOneAvatarButtonHeight: 50.0;
@myqtkOneAvatarButtonWidth: 220.0;
@myqtkSdkOneAvatarButtonTopOffset: 30.0;
@myqtkParagraphStyleLineSpacing: 5.0;

.myq-tk-no-avatars-title {
    /* UILabel */
    font: @myqtkNoAvatarsTextFont;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textColor: @myqtkBlackColor;
    textAlignment: center;
}

.myq-tk-no-avatars-detail {
    /* UILabel */
    font: @myqtkNoAvatarsTextFont;
    numberOfLines: 0;
    lineBreakMode: wordWrapping;
    textColor: @myqtkBlackColor;
    textAlignment: center;
}

.myq-tk-no-avatar-button {
    @extends .mfz-common-standard-button;
    /* UIButton */
    cornerRadius: 25.0;
    backgroundColor: @myqtkHighlightColor;
    titleLabel.font: @myqtkNoAvatarsButtonFont;
    titleColor(normal): @myqtkBlackColor;
}

/* No Avatars View End */

/*******************************************************/
/* SDK STYLE OVERRIDES                                 */
/*******************************************************/

@mfzCommonSpinnerBackgroundColor: clear;
@mfzCommonSpinnerActivityViewTintColor: @myqtkBlackColor;

/* Tab Bar */
@myqtkTabBarTintColor: #44BEE6;
.myqtk-tabbar-view {
    /* UITabBar */
    selectedImageTintColor: @myqtkTabBarTintColor;
}
